body{ 
  background-color: rgb(245,245,255);
}
p{
  font-family: times new roman;
  margin: 50px;
}
header{
  background-color:rgb(32,32,32);
  height: 70px;
  width: 1330px;
}
h1{
  text-align: center;
  color: rgb(255,255,255);
}
img{
  float: right;
}
table{
  margin: 50px
}
img{
  float: right;
   height: 200px;
  width:200px;
}
#foto {
  height: 200px;
  width: 200px;  
}
#casa {
  height: 100px;
  width: 100px;
  margin: auto;
}